html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  padding: 0 30px;
  background: #fff;
  font-family: 'Muli', 'Raleway', 'Source Sans Pro', sans-serif;
  line-height: 1.61803399; /* golden ratio */
}

.masthead ul,
.main-navigation ul {
  margin: 0;
  padding: 0;
}

.masthead .page-title,
.masthead .page-subtitle {
  margin: 0;
  padding: 0;
}

.masthead .page-subtitle {
  font-size: 1rem;
}

.superheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 1em 0;
  border-bottom: 1px solid #666;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
}

.contact li,
.social-media li,
.main-navigation li {
  margin-right: 1em;
}

.contact li a,
.social-media li a,
.main-navigation li a,
.preventivo a {
  text-decoration: none;
  padding: 3px 5px;
  color: black;
  border-radius: 3px;
  transition: background .1s, color .1s;
}

.contact li a:hover,
.social-media li a:hover,
.main-navigation li a:hover,
.preventivo a:hover {
  background: #383;
  color: #fff;
}


.preventivo {

}

.main-navigation {
  border-bottom: 1px solid #666;
  padding: 1em 0;
}

.main-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
}

#content {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;   
}

main {
    flex-grow: 1;
}

#sidebar {
    margin-left: 2em;
    width: 58em;
    min-height: 30em;
    overflow: scroll;
}

#sidebar > div,
#sidebar > div > iframe {
    height: 100px;
}

.hero-image img {
    width: 100%;
}